body{
    font-weight: bold; 
    background-color: rgb(124, 189, 124);
    background: rgb(124, 189, 124); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(124, 189, 124), rgb(75, 133, 75)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(124, 189, 124), rgb(75, 133, 75)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(124, 189, 124), rgb(75, 133, 75)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(124, 189, 124), rgb(75, 133, 75)); /* Standard syntax */ 
}

img{
    width: 700px; 
    height: auto; 
}

table, th, td{
    border: 1px solid black; 
}
